@page
@using Packt.Shared
@model Northwind.Web.Pages.CustomerInfoModel
<div class="row">
  <h1 class="display-2">Customer Info</h1>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Company Name</th>
        <th>Contact Name</th>
        <th>Contact Title</th>
        <th>Adress</th>
        <th>City</th>
        <th>Region</th>
        <th>Postal Code</th>
        <th>Country</th>
        <th>Phone</th>
        <th>Fax</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Customer.CompanyName</td>
            <td>@Model.Customer.ContactName</td>
            <td>@Model.Customer.ContactTitle</td>
            <td>@Model.Customer.Address</td>
            <td>@Model.Customer.City</td>
            <td>@Model.Customer.Region</td>
            <td>@Model.Customer.PostalCode</td>
            <td>@Model.Customer.Country</td>
            <td>@Model.Customer.Phone</td>
            <td>@Model.Customer.Fax</td>
        </tr>
    </tbody>
  </table>
</div>

